<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">
    <%- include('header'); %>
    <%- include('nav'); %>

    <main>
        <h2>Main</h2>
        <!-- <img src="img/bat.svg" alt=""> -->
        <!-- <p>I have <%= car.name %> with <%= car.power %> bhp power. </p> -->

        <% if (car) { %>
            <p>name: <%= car.name %></h2>
            <p>power: <%= car.power %></h2>
        <% } %> 

        <!-- <p><%= month %></p> -->

        <ol>
            <% month.forEach(function(name) { %>
                <li><%= name %></li>
            <% }); %>
        </ol>

    </main>
    <%- include('footer'); %>
</div>
</body>
</html>